<div class="container">
    <h2 class="mt-1 text-center">Quadro Horário das Atividades</h2>
</div>
<div class="row mt-5">
    <div class="card col-sm-6 col-md-4">
        <img src="~/imagens/CrossFit.jpg" class="card-img-top" alt="Academia Estação da Saúde - CrossFit" title="Atividade CrossFit">
        <div class="card-body">
            <h5 class="card-title">Crossfit - Manhã</h5>
            <p class="card-text">Segunda Feira-Das 09 às 10h</p>
            <p class="card-text">Quarta Feira-Das 08 às 09h</p>
            <p class="card-text">Sexta Feira-Das 10 às 11h</p>

            <h5 class="card-title">Crossfit - Tarde</h5>
            <p class="card-text">Segunda Feira-Das 15 às 16h</p>
            <p class="card-text">Quarta Feira-Das 14 às 15h</p>
            <p class="card-text">Sexta Feira-Das 16 às 17h</p> 

            <h5 class="card-title">Crossfit - Noite</h5>
            <p class="card-text">Segunda Feira-Das 20 às 21h</p>
            <p class="card-text">Quarta Feira-Das 19 às 20h</p>
            <p class="card-text">Sexta Feira-Das 21 às 22h</p> 
        </div>
    </div>

    <div class="card col-sm-6 col-md-4">
        <img src="~/imagens/TFuncional.jpg" class="card-img-top" alt="Academia Estação da Saúde - Treinamento Funcional" title="Atividade Treinamento Funcional">
        <div class="card-body">
            <h5 class="card-title">TFuncional - Manhã</h5>
            <p class="card-text">Segunda Feira-Das 10 às 110h</p>
            <p class="card-text">Quarta Feira-Das 09 às 10h</p>
            <p class="card-text">Sexta Feira-Das 08 às 09h</p>

            <h5 class="card-title">TFuncional  - Tarde</h5>
            <p class="card-text">Segunda Feira-Das 15 às 16h</p>
            <p class="card-text">Quarta Feira-Das 14 às 15h</p>
            <p class="card-text">Sexta Feira-Das 16 às 17h</p> 

            <h5 class="card-title">TFuncional  - Noite</h5>
            <p class="card-text">Segunda Feira-Das 20 às 21h</p>
            <p class="card-text">Quarta Feira-Das 19 às 20h</p>
            <p class="card-text">Sexta Feira-Das 21 às 22h</p> 
        </div>
    </div>

    <div class="card col-sm-6 col-md-4">
        <img src="~/imagens/Musculacao.jpg" class="card-img-top" alt="Academia Estação da Saúde - Musculação" title="Atividade Musculação">
        <div class="card-body">
             <h5 class="card-title">Musculação</h5>
            <p class="card-text text-center">Segunda a Sexta-Feira</p>
            <p class="card-text">* Manhã das 06 às 12h</p>
            <p class="card-text">* Tarde das 14 às 18h</p>
            <p class="card-text">* Noite das 18 às 23h</p>
            <p class="card-text text-center">Sábados</p>
            <p class="card-text text-center">* Manhã das 06 às 12h</p>
        </div>
    </div> 
@* 
    <div class="card col-sm-6 col-md-3">
        <img src="~/imagens/Zumba.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zumba - Ginástica</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>*@

</div>

<div class="row mt-5">
    <div class="card col-sm-6 col-md-3">
        <img src="~/imagens/MuayThai.jpg" class="card-img-top" alt="Academia Estação da Saúde - MuayThai" title="Atividade MuayThai">
        <div class="card-body">
            <h5 class="card-title">Muay-Thay</h5>
            <p class="card-text">Segunda Feira-Das 09 às 10h</p>
            <p class="card-text">Quarta Feira-Das 08 às 09h</p>
            <p class="card-text">Sexta Feira-Das 10 às 11h</p>
        </div>
    </div>

    <div class="card col-sm-6 col-md-3">
        <img src="~/imagens/Boxe.jpg" class="card-img-top" alt="Academia Estação da Saúde - Boxe" title="Atividade Boxe">
        <div class="card-body">
            <h5 class="card-title">Boxe</h5>
            <p class="card-text">Segunda Feira-Das 09 às 10h</p>
            <p class="card-text">Quarta Feira-Das 08 às 09h</p>
            <p class="card-text">Sexta Feira-Das 10 às 11h</p>
        </div>
    </div>

    <div class="card col-sm-6 col-md-3">
        <img src="~/imagens/Ginastica.jpg" class="card-img-top" alt="Academia Estação da Saúde - Ginástica" title="Atividade Ginástica">
        <div class="card-body">
            <h5 class="card-title">Ginástica</h5>
            <p class="card-text">Segunda Feira-Das 09 às 10h</p>
            <p class="card-text">Quarta Feira-Das 08 às 09h</p>
            <p class="card-text">Sexta Feira-Das 10 às 11h</p>
        </div>
    </div>

    <div class="card col-sm-6 col-md-3">
        <img src="~/imagens/Zumba.jpg" class="card-img-top" alt="Academia Estação da Saúde - Zumba" title="Atividade Zumba">
        <div class="card-body">
            <h5 class="card-title">Zumba</h5>
            <p class="card-text">Segunda Feira-Das 09 às 10h</p>
            <p class="card-text">Quarta Feira-Das 08 às 09h</p>
            <p class="card-text">Sexta Feira-Das 10 às 11h</p>
        </div>
    </div>

</div>
