@{
    ViewData["Title"] = "Home Page";
}

<!-- Carrousel -->

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner Figuras">
        <div class="carousel-item active">
          <img src="~/imagens/AcademiaA.jpg" class="d-block w-100" alt="Academia Estação da Saúde" title="Academia Estação da Saúde">
        </div>
        <div class="carousel-item">
          <img src="~/imagens/AcademiaB.jpg" class="d-block w-100" alt="Academia Estação da Saúde" title="Academia Estação da Saúde">
        </div>
        <div class="carousel-item">
          <img src="~/imagens/AcademiaC.jpg" class="d-block w-100" alt="Academia Estação da Saúde" title="Academia Estação da Saúde">
        </div>
      </div>
      <a class="carousel-control-prev" data-target="#carouselExampleIndicators" data-slide="prev"> 
        <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
      </a>
      <a class="carousel-control-next" data-target="#carouselExampleIndicators" data-slide="next"> 
        <span class="carousel-control-next-icon" aria-hidden="true"></span> 
      </a>
    </div>

    <!-- Carrousel fim -->

    <!-- Corpo do Site -->
    <div class="container">
      <h2 class="mt-5 text-center">Aqui seu corpo faz a ùltima parada</h2>
    </div>
    <div class="row mt-5">
      <div class="card col-sm-6 col-md-3">
        <img src="~/imagens/Musculacao.jpg" class="card-img-top" alt="Academia Estação da Saúde - Musculação" title="Atividade Musculação" >
        <div class="card-body">
          <h5 class="card-title">Musculação</h5>
          <p class="card-text">Tipo de exercício realizado com pesos de diversas cargas, amplitude
              e tempo de contração. Indicada para pessoas de diversas idades e com diferentes objetivos.</p>
          <a href="javascript: abrirMatricula();" class="btn btn-primary" alt="Academia Estação da Saúde - Matrícula" title="Matrícula">Matricular-se</a>
        </div>
      </div>

      <div class="card col-sm-6 col-md-3">
        <img src="~/imagens/CrossFit.jpg" class="card-img-top"  alt="Academia Estação da Saúde - CrossFit" title="Atividade CrossFit-Funcional" >
        <div class="card-body">
          <h5 class="card-title">Crossfit - TFuncional</h5>
          <p class="card-text">Tipo de exercício realizado com pesos de diversas cargas, amplitude
              e tempo de contração. Indicada para pessoas de diversas idades e com diferentes objetivos.</p>
          <a href="#" class="btn btn-primary"  alt="Academia Estação da Saúde - Matrícula" title="Matrícula">Matricular-se</a>
        </div>
      </div>

      <div class="card col-sm-6 col-md-3">
        <img src="~/imagens/MuayThai.jpg" class="card-img-top"  alt="Academia Estação da Saúde - MuayThai" title="Atividade MuayThai-Boxe" >
        <div class="card-body">
          <h5 class="card-title">Muay-Thay - Boxe</h5>
          <p class="card-text">Tipo de exercício realizado com pesos de diversas cargas, amplitude
              e tempo de contração. Indicada para pessoas de diversas idades e com diferentes objetivos.</p>
          <a href="#" class="btn btn-primary"  alt="Academia Estação da Saúde - Matrícula" title="Matrícula">Matricular-se</a>
        </div>
      </div>

      <div class="card col-sm-6 col-md-3">
        <img src="~/imagens/Zumba.jpg" class="card-img-top"  alt="Academia Estação da Saúde - Zumba" title="Atividade Zumba-Ginástica" >
        <div class="card-body">
          <h5 class="card-title">Zumba - Ginástica</h5>
          <p class="card-text">Tipo de exercício realizado com pesos de diversas cargas, amplitude
              e tempo de contração. Indicada para pessoas de diversas idades e com diferentes objetivos.</p>
          <a href="#" class="btn btn-primary"  alt="Academia Estação da Saúde - Matrícula" title="Matrícula">Matricular-se</a>
        </div>
      </div>

    </div>
    <!-- Corpo do site Fim -->
