<div class="row mt-1">
    <div class="card col-sm-6 col-md-6">
        <h5>Quem Somos - Missão - Visão e Valores</h5>
        <div class="card-body">
            <p class="card-text">
            O “Quem Somos” ou “Sobre Nós” de um site é o texto de apresentação da empresa. É nesse conteúdo
            que serão inseridas informações como a criação da empresa, experiências no mercado e qualificações.
            Mas nem todos os negócios levam em conta a importância desse conteúdo e nem sempre o fazem da maneira correta.
            
            Missão: a missão descreve a razão da empresa existir. Ela pode mudar com o tempo, se ajustando à realidade do negócio.
            Visão: a visão está ligada à sua missão e evidencia a imagem do futuro que você deseja alcançar, ou seja, o objetivo de como a empresa se enxerga lá na frente.
            Valores: os valores são tudo o que é inegociável no seu negócio, aquilo que pode ou não pode fazer ali dentro, a sua lei. Você tem uma missão que te faz existir e uma visão de onde quer chegar, mas isso nunca pode ser às custas dos seus valores.
            </p>
        </div>
    </div>
    <div class="card col-sm-6 col-md-6">
        <img src="~/imagens/Atleta.png" class="card-img-top" alt="Academia Estação da Saúde - Quem Somos" title="Academia EStação Saúde">
        @* <div class="card-body">
            <h5 class="card-title">Crossfit - Manhã</h5>
            <p class="card-text">Segunda Feira-Das 09 às 10h</p>
            <p class="card-text">Quarta Feira-Das 08 às 09h</p>
            <p class="card-text">Sexta Feira-Das 10 às 11h</p> 
        </div> *@
    </div>
</div>